.team-card {
    border: none;
    min-height: 0px;
}

code.hljs.javascript {
    min-height: 20px;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
li.parsley-required {
    display: none;
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}
#domain{
    padding: 45px 60px 45px 60px;
    font-size: 6vw;
    border-radius: 0.2em;
    font-weight: bold;
    width: 100%;
}
a.logo {
    font-size: 0.8em;
}
section {
  padding-bottom: 200px !important;
}

button.confetti {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0),
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
      position: absolute;
    z-index: 9999;
    right: 0.5em;
    bottom: -3em;
}
.section {
      padding-top: 30px;
}
button.confetti span { position: relative; }
/* fix for IE 11 (and IE8+, although the earlier versions are harder to address) stupidly moving the inner button text on click */
.pressed {
  padding-top: 3px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0),
    0 8px 6px rgba(0,0,0,.45);
}
@media(max-width:600px){
  .reactions {
      height: 0px;
    opacity: 0;
  }
  button.confetti {
  bottom: 130px !important;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0),
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
      position: absolute;
    z-index: 9999;
    right: 0.5em;
    bottom: -3em;
}
.rns {
    bottom: 0px;
}
#domain{
      padding: 20px 40px 20px 40px;
    font-size: 8vw;
    border-radius: 0.2em;
    font-weight: bold;
    margin-bottom: 300px
}
.section{
  padding: 5px !important;
}
}
.rns-header-text{
      color: #FFFFFF;
}
.rns-footer {
  display:none !important;
  opacity: 0;
}
.turquoise-gradient {
    background: linear-gradient(#FF9800, #9C27B0);
}
